#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.juliette-logo:hover {
    filter: drop-shadow(0 0 2em #0663ceaa);
}

.juliette-logo:focus {
    outline: none;
}

.juliette-logo-button {
    background-color: transparent;
    border-style: none;
}

.input-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 75%;
}

.config-dialog {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
}

.transition-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-close {
    margin: 3px;
}

.play-area {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.player-one-display {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.player-two-display {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.player-label {
    margin-right: auto;
}

.engine-label {
    margin-left: auto;
}

.chessboard:hover {
    filter: drop-shadow(0 0 8em white)
}

.end-screen-button {
    margin: 4px;
}

.board-area {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.resign-button {
    margin: 30px;
}